<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.check.mapper.Inno72CheckFaultRemarkMapper">
  <resultMap id="BaseResultMap" type="com.inno72.check.model.Inno72CheckFaultRemark">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="fault_id" jdbcType="VARCHAR" property="faultId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>


</mapper>