/.idea/
/**/**.iml
/**/target/
/**/.settings
/**/.classpath
/**/.project
/**/WEB-INF
.DS_Store
inno72-front.iml
inno72-game-service/inno72-game-service.iml
inno72-top-service/inno72-top-service.iml
logs/