<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MachineMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72Machine">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="machine_code" jdbcType="VARCHAR" property="machineCode"/>
        <result column="machine_name" jdbcType="VARCHAR" property="machineName"/>
        <result column="locale_id" jdbcType="VARCHAR" property="localeId"/>
        <result column="tag" jdbcType="CHAR" property="tag"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="machine_status" jdbcType="INTEGER" property="machineStatus"/>
        <result column="net_status" jdbcType="INTEGER" property="netStatus"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="bluetooth_address" jdbcType="VARCHAR" property="bluetoothAddress"/>
        <result column="open_status" jdbcType="INTEGER" property="openStatus"/>
        
    </resultMap>

    <select id="findMachineByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        * 
        from inno72_machine where machine_code = #{machineCode}
    </select>

    <resultMap id="qimenListMap" type="com.inno72.vo.MachineVo">
        <result column="machine_id" jdbcType="VARCHAR" property="machineId"/>
        <result column="machine_name" jdbcType="VARCHAR" property="machineName"/>
        <result column="machine_status" property="machineStatus"/>
        <result column="machine_desc" jdbcType="VARCHAR" property="machineDesc"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="place_type" jdbcType="VARCHAR" property="placeType"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId"/>
        <association property="addressVo" javaType="com.inno72.vo.MachineVo$AddessVo">
            <result column="province" jdbcType="VARCHAR" property="province"/>
            <result column="show_city" jdbcType="VARCHAR" property="showCity"/>
            <result column="area" jdbcType="VARCHAR" property="area"/>
            <result column="street" jdbcType="VARCHAR" property="street"/>
            <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        </association>
    </resultMap>
    <select id="queryQimenMachineListByPage" resultMap="qimenListMap" parameterType="java.util.Map">

        select
        i2.machine_code as machine_id,
        i2.machine_name,
        CASE i2.machine_status
        WHEN 4 THEN 1
        ELSE 0 END as machine_status,

        "互动机" as machine_desc,
        "0" as latitude,
        "0" as longitude,
        "other" as place_type,
        "点72互动" as owner_name,
        "inno722018" as owner_id,
        i4.province as province,
        i4.city as show_city,

        i4.district as area,
        i4.circle as street,
        i3.mall as detail_address


        from inno72_machine i2
        left join inno72_locale i3 on i2.locale_id = i3.id
        left join inno72_admin_area i4 on i4.code = i3.area_code

        <where>
            <trim prefixOverrides="and">
                <if test="city != null and city != ''">
                    and i4.city = #{city}
                </if>
                <if test="machineId != null and machineId != ''">
                    and i2.id = #{machineId}
                </if>
                <if test="list != null">
                    and i2.machine_code in
                    <foreach collection="list" open="(" close=")" separator="," item="item">
                        #{item}
                    </foreach>
                </if>
            </trim>
        </where>





    </select>

</mapper>