<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MachineMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72Machine">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="machine_code" jdbcType="VARCHAR" property="machineCode"/>
        <result column="machine_name" jdbcType="VARCHAR" property="machineName"/>
        <result column="locale_id" jdbcType="VARCHAR" property="localeId"/>
        <result column="tag" jdbcType="CHAR" property="tag"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="machine_status" jdbcType="INTEGER" property="machineStatus"/>
        <result column="net_status" jdbcType="INTEGER" property="netStatus"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="bluetooth_address" jdbcType="VARCHAR" property="bluetoothAddress"/>
        <result column="open_status" jdbcType="INTEGER" property="openStatus"/>
        
    </resultMap>

    <select id="findMachineByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        * 
        from inno72_machine where machine_code = #{machineCode}
    </select>

</mapper>