<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72GameMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72Game">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="name" jdbcType="VARCHAR" property="desc"/>
        <result column="version_inno72" jdbcType="VARCHAR" property="versionInno72"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="seller_id" jdbcType="BIGINT" property="sellerId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="interact_id" jdbcType="VARCHAR" property="interactId"/>
        <result column="max_participance_per_day" jdbcType="BIT" property="maxParticipancePerDay"/>
        <result column="max_participance_total" jdbcType="INTEGER" property="maxParticipanceTotal"/>
        <result column="max_prize_per_day" jdbcType="INTEGER" property="maxPrizePerDay"/>
        <result column="max_prize_total" jdbcType="INTEGER" property="maxPrizeTotal"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <select id="selectBoundName" resultType="string" parameterType="long">
  	select brand_name from inno72_merchant where id = #{brandId}
  </select>

</mapper>