<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72GoodsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="SamplingGoodsMap" type="com.inno72.vo.Inno72SamplingGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
     <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="activity_id" jdbcType="VARCHAR" property="activeId" />
  </resultMap>
  
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="string">
  	select * from inno72_goods where code = #{code} and is_delete = 0
  </select>
  
  <!-- <select id="selectSamplingGoods" resultMap="SamplingGoodsMap" parameterType="String">
    
    select 
        SUM(supply_channel.goods_count) as num,goods.*,activity_shops.is_vip,activity_shops.session_key,shops.shop_name
    from inno72_activity_plan plan 
    left join inno72_activity_plan_machine plan_machine on plan.id=plan_machine.activity_plan_id
    left join inno72_activity_plan_goods plan_goods on plan_goods.activity_plan_id=plan.id
    left join inno72_goods goods on goods.id=plan_goods.goods_id
    left join inno72_machine machine on machine.id=plan_machine.machine_id
    left join inno72_activity_shops activity_shops on activity_shops.activity_id=plan.activity_id
    left join inno72_supply_channel_goods supply_channel_goods on supply_channel_goods.goods_id=goods.id
    left join inno72_supply_channel supply_channel on supply_channel.id=supply_channel_goods.supply_channel_id
    left join inno72_shops shops on shops.id=activity_shops.shops_id
    where machine.machine_code=#{machineCode} and CURRENT_TIMESTAMP() BETWEEN plan.start_time and plan.end_time and plan.is_delete=0 
    GROUP BY goods.id
  </select> -->
  
  <select id="selectSamplingGoods" resultMap="SamplingGoodsMap" parameterType="String">
    
    select 
        goods.*,plan.activity_id
    from inno72_activity_plan plan 
    left join inno72_activity_plan_machine plan_machine on plan.id=plan_machine.activity_plan_id
    left join inno72_activity_plan_goods plan_goods on plan_goods.activity_plan_id=plan.id
    left join inno72_goods goods on goods.id=plan_goods.goods_id
    left join inno72_machine machine on machine.id=plan_machine.machine_id
    where machine.machine_code=#{machineCode} and CURRENT_TIMESTAMP() BETWEEN plan.start_time and plan.end_time and plan.is_delete=0 
  </select>
</mapper>