<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72ActivityPlanMachineMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72ActivityPlanMachine">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId"/>
        <result column="machine_id" jdbcType="VARCHAR" property="machineId"/>
    </resultMap>

</mapper>