<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72ActivityPlanGameResultMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72ActivityPlanGameResult">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId"/>
        <result column="prize_id" jdbcType="VARCHAR" property="prizeId"/>
        <result column="prize_type" jdbcType="VARCHAR" property="prizeType"/>
        <result column="result_code" jdbcType="INTEGER" property="resultCode"/>
        <result column="result_remark" jdbcType="VARCHAR" property="resultRemark"/>
    </resultMap>
    <select id="selectByActivityPlanId" resultType="java.lang.String" parameterType="java.util.Map">
        select distinct prize_id from inno72_activity_plan_game_result
        where
        prize_type = 1
        and
        activity_plan_id = #{activityPlanId}
        <if test="report != null and report != ''">
            and result_code = #{report}
        </if>
    </select>
    <select id="selectAllResultByCode" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from inno72_activity_plan_game_result
        where
        activity_plan_id = #{activityPlanId}
        <if test="report != null and report != ''">
            and result_code = #{report}
        </if>
        <if test="prizeType != null and prizeType != ''">
            and prize_type = #{prizeType}
        </if>
    </select>

    <select id="selectPrizeId" parameterType="java.util.Map" resultType="java.lang.String">
        select prize_id from inno72_activity_plan_game_result
          where prize_type = 2 and activity_plan_id = #{activityPlanId} and result_code = #{report} limit 1
    </select>
    <select id="selectCountGoods" resultType="java.lang.Integer" parameterType="java.util.Map">
        select SUM(ifnull(i4.goods_count,0)) as goodsCount from inno72_activity_plan_game_result i1
            left join inno72_goods i2 on i1.prize_id = i2.id
            left join inno72_supply_channel_goods i3 on i3.goods_id = i2.id
            left join inno72_supply_channel i4 on i4.id = i3.supply_channel_id
            where i1.prize_type = 1
            and i1.activity_plan_id = #{platId}
            and i4.machine_id = #{machineId}
            and i4.is_delete = 0
            group by i2.id
    </select>
    <select id="selectCountGoodsPy" resultType="java.lang.Integer" parameterType="java.util.Map">
        select SUM(ifnull(i4.goods_count,0)) as goodsCount from inno72_activity_plan_game_result i1
            left join inno72_goods i2 on i1.prize_id = i2.id
            left join inno72_supply_channel_goods i3 on i3.goods_id = i2.id
            left join inno72_supply_channel i4 on i4.id = i3.supply_channel_id
            where i1.prize_type = 1
            and i1.activity_plan_id = #{platId}
            and i4.machine_id = #{machineId}
            and i3.goods_id = #{goodsId}
            and i4.is_delete = 0
            group by i2.id
    </select>
    <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map">

        select * from inno72_activity_plan_game_result
                where
                activity_plan_id = #{planId}
            and prize_id = #{goodsId}
            and prize_type = 1
        union all
        select r1.* from inno72_activity_plan_game_result r1
            left join inno72_coupon c1 on r1.prize_id = c1.id
            where r1.prize_type = 2
            and c1.shops_id = #{shopId}
            and r1.activity_plan_id = #{planId}

    </select>

</mapper>