<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72ActivityShopsMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72ActivityShops">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
        <result column="shops_id" jdbcType="VARCHAR" property="shopsId" />
    </resultMap>

</mapper>
