<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72ActivityMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72Activity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId"/>
        <result column="manager_id" jdbcType="VARCHAR" property="managerId"/>
        <result column="game_id" jdbcType="VARCHAR" property="gameId"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="is_default" jdbcType="INTEGER" property="isDefault"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" javaType="java.time.LocalDateTime"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <select id="selectDefaultAct" resultMap="BaseResultMap">
        select * from inno72_activity where is_default = 1
    </select>
    <resultMap id="ActVoMap" type="com.inno72.vo.FansActVo">
        <result column="act_id" property="actId"/>
        <result column="act_name" property="actName"/>
        <result column="act_type" property="actType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <association property="actDetailList" javaType="com.inno72.vo.FansActVo$MachineDetailVo">
            <result column="owner_id" property="ownerId"/>
            <result column="machine_id" property="machineId"/>
            <result column="show_address" property="showAddress"/>
            <result column="lock_status" property="lockStatus"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
            <result column="act_id" property="actId"/>
        </association>

    </resultMap>
    <select id="selectTianMaoActVo" resultMap="ActVoMap" parameterType="string">
        select
            i2.`code` as act_id,
            i2.`name` as act_name,
            1 as act_type,
            DATE_FORMAT(i1.start_time, "%Y-%m-%d") as start_time,
            DATE_FORMAT(i1.end_time, "%Y-%m-%d") as end_time,
            "inno722018" as owner_id,
            i4.machine_code as machine_id,
            concat(i6.province, " ", i6.city, " ", i6.district, " ", i6.circle, " ", i5.mall) as show_address,
            case i4.machine_status
            WHEN 4 THEN 0
            ELSE 1 end as lock_status
         from inno72_activity_plan i1
        left join inno72_activity i2 on i1.activity_id = i2.id
        left join inno72_activity_plan_machine i3 on i1.id = i3.activity_plan_id
        left join inno72_machine i4 on i4.id = i3.machine_id
        left join inno72_locale i5 on i4.locale_id = i5.id
        left join inno72_admin_area i6 on i6.`code` = i5.area_code
        where i2.code = #{actId}
    </select>

    <select id="selectMachineCodeByActivityId" resultType="string" parameterType="string">
        select m.machine_code from inno72_activity_plan ap
        join inno72_activity_plan_machine pm on ap.id = pm.activity_plan_id
        left join inno72_machine m on pm.machine_id = m.id
        where ap.activity_id=#{activityId}
    </select>

    <select id="selectSellerIdByActivityId" resultType="string" parameterType="string">
        select mht.merchant_code from inno72_activity_plan ap
        join inno72_activity_plan_goods pg on ap.id = pg.activity_plan_id
        left join inno72_goods g on pg.goods_id =g.id
        left join inno72_merchant mht on mht.id = g.seller_id
        where ap.activity_id=#{activityId}
    </select>
</mapper>