<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72ActivityPlanGameResultMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72ActivityPlanGameResult">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId" />
        <result column="prize_id" jdbcType="VARCHAR" property="prizeId" />
        <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
        <result column="result_code" jdbcType="INTEGER" property="resultCode" />
        <result column="result_remark" jdbcType="VARCHAR" property="resultRemark" />
    </resultMap>
    <select id="selectByActivityPlanId" resultType="string" parameterType="java.util.Map" >
        select distinct prize_id from inno72_activity_plan_game_result
        where
        prize_type = 1
        activity_plan_id = #{activityPlanId}
        <if test="report != null and report != ''">
            result_code = #{report}
        </if>
    </select>

</mapper>