<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72AwardRecordMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72AwardRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="participant_id" jdbcType="VARCHAR" property="participantId" />
    <result column="machine_id" jdbcType="BIGINT" property="machineId" />
    <result column="game_id" jdbcType="BIGINT" property="gameId" />
    <result column="award_time" jdbcType="TIMESTAMP" property="awardTime" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
</mapper>