<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelGoodsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannelGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="supply_channel_id" jdbcType="VARCHAR" property="supplyChannelId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
  </resultMap>

</mapper>