<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelHistoryMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannelHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="supply_channel_id" jdbcType="VARCHAR" property="supplyChannelId" />
    <result column="before_count" jdbcType="INTEGER" property="beforeCount" />
    <result column="after_count" jdbcType="INTEGER" property="afterCount" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="subCount" jdbcType="INTEGER" property="subCount"/>
  </resultMap>


  <resultMap id="WorkOrderVoList" type="com.inno72.machine.vo.WorkOrderVo">
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo"/>
    <result column="machine_id" jdbcType="VARCHAR" property="machineId"/>
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>

  <select id="getWorkOrderVoList" resultMap="WorkOrderVoList">
    select t1.batch_no,t1.machine_id,t1.create_time,t2.machine_code,
    CONCAT(
    t4.province,
    t4.city,
    t4.district,
    if(t4.circle='其他','',t4.circle),IFNULL(t3.mall,""),IFNULL( t3.name,'')
    ) AS localeStr
    from inno72_supply_channel_history t1
    left join inno72_machine t2 on t1.machine_id=t2.id
    LEFT JOIN inno72_locale t3 ON t3.id = t2.locale_id
    LEFT JOIN inno72_admin_area t4 ON t4.CODE = t3.area_code
    left join inno72_check_user_machine t5 on t2.id=t5.machine_id
    where t5.check_user_id=#{checkUserId}
    <if test="keyword != null">
      and (
      t2.machine_code like CONCAT('%','${keyword}','%')
      OR t4.circle like CONCAT('%','${keyword}','%')
      )
    </if>
    <if test="beginTime != null and endTime != null">
      and t1.create_time between #{beginTime} and #{endTime}
    </if>
    group by t1.machine_id,t1.create_time,t1.batch_no order by t1.create_time desc
  </select>

  <select id="getWorkOrderGoods" resultMap="BaseResultMap">
    select
    t1.*,
    (t1.after_count-t1.before_count) subCount,
    t2.machine_code,
    t7.name goodsName,
    CONCAT(
    t4.province,
    t4.city,
    t4.district,
    if(t4.circle='其他','',t4.circle),IFNULL(t3.mall,""),IFNULL( t3.name,'')
    ) AS localeStr
    from inno72_supply_channel_history t1
    left join inno72_machine t2 on t1.machine_id=t2.id
    LEFT JOIN inno72_locale t3 ON t3.id = t2.locale_id
    LEFT JOIN inno72_admin_area t4 ON t4.CODE = t3.area_code
    left join inno72_supply_channel_goods t6 on t1.supply_channel_id=t6.supply_channel_id
	left join inno72_goods t7 on t6.goods_id=t7.id
    where
    t1.batch_no=#{batchNo}
    and t1.after_count>0
  </select>

</mapper>