<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72GoodsMapper">
    <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72Goods">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
        <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_id" jdbcType="VARCHAR" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="VARCHAR" property="updateId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association property="supplyChannelVoList" resultMap="supplyChannelVoList"/>
    </resultMap>
    <resultMap id="supplyChannelVoList" type="com.inno72.machine.vo.SupplyChannelVo">
        <result column="channelCode" jdbcType="VARCHAR" property="channelCode" />
        <result column="channelName" jdbcType="VARCHAR" property="channelName" />
        <result column="channelStatus" jdbcType="INTEGER" property="channelStatus" />
        <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
        <result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    </resultMap>
    <select id="getLackGoods" resultMap="BaseResultMap">
        select t1.*,
        t6.machine_id,
        t6.code channelCode,
        t6.volume_count,
        t6.goods_count,
        t6.name channelName,
        t6.status channelStatus
        from inno72_goods t1
        left join inno72_activity_plan_goods t2 on t1.id=t2.goods_id
        left join inno72_activity_plan t3 on t2.activity_plan_id=t3.id
        left join inno72_activity_plan_machine t4 on t3.id=t4.activity_plan_id
        left join inno72_machine t5 on t4.machine_id = t5.id
        left join inno72_supply_channel t6 on t5.id=t6.machine_id
        left join inno72_check_user_machine t7 on t5.id=t7.machine_id
        left join inno72_supply_channel_goods t8 on t6.id=t8.supply_channel_id
        where t7.check_user_id=#{checkUserId} and t1.id=t8.goods_id and t5.machine_status=4
    </select>

    <select id="selectByMachineId" resultMap="BaseResultMap">
        select t1.*
        from inno72_goods t1
        left join inno72_activity_plan_goods t2 on t1.id=t2.goods_id
        left join inno72_activity_plan t3 on t2.activity_plan_id=t3.id
        left join inno72_activity_plan_machine t4 on t3.id=t4.activity_plan_id
        left join inno72_machine t5 on t4.machine_id = t5.id
        where t5.id=#{machineId}
        and now() BETWEEN t3.start_time and t3.end_time
    </select>
</mapper>