<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.AlarmDealLogMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.AlarmDealLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="first_read_time" jdbcType="TIMESTAMP" property="firstReadTime" javaType="java.time.LocalDateTime"
            typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    <result column="deal_user" jdbcType="VARCHAR" property="dealUser" />
    <result column="deal_method" jdbcType="VARCHAR" property="dealMethod" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" javaType="java.time.LocalDateTime"
            typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.time.LocalDateTime"
            typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    <result column="uodate_time" jdbcType="TIMESTAMP" property="uodateTime" javaType="java.time.LocalDateTime"
            typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
  </resultMap>
    <select id="queryForPage" parameterType="com.inno72.model.AlarmDealLog" resultType="java.util.Map">
        select
            i1.id as logId,
            i1.app_name as appName,
            i2.`name` as ruleName,
            DATE_FORMAT(i1.create_time, '%Y-%m-%d %H:%i:%S') as dealLogTime,
            i2.create_user as createUser,
            i2.director as director,
            DATE_FORMAT(i1.first_read_time, '%Y-%m-%d %H:%i:%s') as firstReadTime,
            Date_format(i1.deal_time, "%Y-%m-%d %H:%i:%s") as dealTime,
            i1.deal_user as dealUser,
            i1.status as status,
            i1.deal_method as dealMethod
        from alarm_deal_log i1
        left join alarm_rule i2 on i1.rule_id = i2.id
    </select>

    <select id="queryDetail" parameterType="string" resultMap="BaseResultMap" >
        select
            i1.id as logId,
            i1.app_name as appName,
            i2.`name` as ruleName,
            DATE_FORMAT(i1.create_time, '%Y-%m-%d %H:%i:%S') as dealLogTime,
            i2.create_user as createUser,
            i2.director as director,
            DATE_FORMAT(i1.first_read_time, '%Y-%m-%d %H:%i:%s') as firstReadTime,
            Date_format(i1.deal_time, "%Y-%m-%d %H:%i:%s") as dealTime,
            i1.deal_user as dealUser,
            i1.status as status,
            i1.deal_method as dealMethod
        from alarm_deal_log i1
        left join alarm_rule i2 on i1.rule_id = i2.id
        where i1.id = #{logId}
    </select>
</mapper>