<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MerchantTotalCountMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72MerchantTotalCount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="activity_status" jdbcType="VARCHAR" property="activityStatus"/>
        <result column="machine_num" jdbcType="INTEGER" property="machineNum"/>
        <result column="visitor_num" jdbcType="INTEGER" property="visitorNum"/>
        <result column="stay_user" jdbcType="INTEGER" property="stayUser"/>
        <result column="pv" jdbcType="INTEGER" property="pv"/>
        <result column="uv" jdbcType="INTEGER" property="uv"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="shipment" jdbcType="INTEGER" property="shipment"/>
        <result column="machant_id" jdbcType="VARCHAR" property="machantId"/>
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId"/>
    </resultMap>
    <select id="selectByMerchantId" resultMap="BaseResultMap" parameterType="string">

        select * from inno72_merchant_total_count where machant_id = #{machantId}

    </select>
    <select id="findActivityByMerchantId" resultType="java.util.Map" parameterType="string">
        select distinct activity_id as activityId, activity_name as activityName
        from inno72_merchant_total_count
        where seller_id = #{sellerId}
    </select>
    <select id="selectBySellerId" resultMap="BaseResultMap" parameterType="string">
      select * from inno72_merchant_total_count where machant_id = #{sellerId}
    </select>
</mapper>