<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MerchantTotalCountByUserMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72MerchantTotalCountByUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
        <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
        <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
        <result column="date" jdbcType="VARCHAR" property="date" />
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="user_tag" jdbcType="VARCHAR" property="userTag" />
        <result column="point_tag" jdbcType="VARCHAR" property="pointTag" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>
    <select id="selectByActivityId" resultMap="BaseResultMap">
        select * from inno72.inno72_merchant_total_count_by_user
        where activity_id = #{activityId}
              <if test="start != null and start != '' and end != null and end != ''">
               and  date BETWEEN #{start} and #{end}
              </if>
        GROUP BY user_id
        order by date, id
    </select>

    <select id="selectByActivityIdCount" resultType="long">
        select count(*) from
            (select id from inno72_merchant_total_count_by_user
            WHERE
                activity_id = #{activityId}
                and
                date BETWEEN #{start} and #{end}

            group by user_id order by null) ss
    </select>
    <select id="selectByActivityIdByPage" resultType="com.inno72.model.Inno72MerchantTotalCountByUser">
        select * from inno72.inno72_merchant_total_count_by_user
        where date BETWEEN #{start} and #{end}
              and activity_id = #{activityId}
        GROUP BY user_id
        order by date, id
        limit #{page}, #{pageSize}
    </select>
    <select id="selectUserMobile" resultType="string" parameterType="string">
        select phone from inno72.inno72_game_user_channel where game_user_id = #{userId}
    </select>
</mapper>