<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MerchantTotalCountMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72MerchantTotalCount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="activity_status" jdbcType="VARCHAR" property="activityStatus"/>
        <result column="machine_num" jdbcType="INTEGER" property="machineNum"/>
        <result column="visitor_num" jdbcType="INTEGER" property="visitorNum"/>
        <result column="stay_user" jdbcType="INTEGER" property="stayUser"/>
        <result column="pv" jdbcType="INTEGER" property="pv"/>
        <result column="uv" jdbcType="INTEGER" property="uv"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="shipment" jdbcType="INTEGER" property="shipment"/>
        <result column="merchant_id" jdbcType="VARCHAR" property="merchantId"/>
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.inno72.vo.Inno72MerchantTotalCountVo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="activity_status" jdbcType="VARCHAR" property="activityStatus"/>
        <result column="machine_num" jdbcType="INTEGER" property="machineNum"/>
        <result column="visitor_num" jdbcType="INTEGER" property="visitorNum"/>
        <result column="stay_user" jdbcType="INTEGER" property="stayUser"/>
        <result column="pv" jdbcType="INTEGER" property="pv"/>
        <result column="uv" jdbcType="INTEGER" property="uv"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="shipment" jdbcType="INTEGER" property="shipment"/>
        <result column="merchant_id" jdbcType="VARCHAR" property="merchantId"/>
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
    </resultMap>
    <update id="updateActivityType">
        update inno72.inno72_merchant_total_count set inno72.inno72_merchant_total_count.activity_type = #{activityType}
        where activity_id = #{activityId}
    </update>

    <select id="selectByMerchantId" resultMap="BaseResultVoMap" parameterType="string">

        select a.*, IFNULL(interact.channel,'002001') as code from
            (select * from inno72_merchant_total_count where merchant_id is not null and merchant_id != '' order by last_update_time desc limit 100000) a
            left join inno72_interact interact on interact.id  = a.activity_id
        where merchant_id  = #{merchantId}
        group by merchant_id, activity_id
        order by id desc
    </select>
    <select id="selectActivityType" resultType="java.lang.String" parameterType="string">
        select activity_type from inno72.inno72_merchant_total_count where activity_id = #{activityId} limit 1
    </select>
    <select id="researchFromInteract" resultType="java.lang.Integer">
        select count(0) from inno72.inno72_interact where id = #{activityId}
    </select>
    <select id="selectChannelCode" resultType="java.lang.String" parameterType="string">
        select channel from inno72.inno72_interact where id = #{activityId}
    </select>
</mapper>